In [2]:
import pandas as pd
from scipy import stats
# 打开数据文件
file_path = R"movie_data_cleaned.csv"
df_movies = pd.read_csv(file_path)
# 计算均值和标准误差
mean = df_movies['average'].mean()
std_error = stats.sem(df_movies['average'])
# 设定置信水平
confidence_level = 0.95
# 设定自由度
自由度 = len(df_movies['average']) - 1
# 计算置信区间
confidence_interval = stats.t.interval(confidence_level, 自由度, loc=mean, scale=std_error)
# 输出结果
print(F"均值：{mean: .2f}")
print(F"均值在置信水平{confidence_level}下的置信区间为：", confidence_interval)

均值： 7.20
均值在置信水平0.95下的置信区间为： (7.171337577138237, 7.2214184794700635)

In [3]:
import pandas as pd  
import mytools
import numpy as np  
import scipy.stats as stats

In [4]:
pd.read_csv(R'movie_data_cleaned.csv')

,Unnamed: 0,average,country,genre,language,release_date,title,votes
0,0,9.7,美国,"['剧情', '犯罪']",英语,1994-09-10,肖申克的救赎 The Shawshank Redemption,2083437.0
1,1,9.2,美国,"['喜剧', '动画', '冒险']",英语 / 挪威语,2016-03-04,疯狂动物城 Zootopia,1321807.0
2,2,9.5,美国,"['剧情', '爱情']",英语,1994-06-23,阿甘正传 Forrest Gump,1573820.0
3,3,9.0,中国大陆,"['剧情', '喜剧']",汉语普通话 / 英语 / 上海话 / 印地语,2018-07-05,我不是药神,1529042.0
4,4,9.4,日本,"['剧情', '动画', '奇幻']",日语,2019-06-21,千与千寻 千と千尋の神隠し,1636148.0
...,...,...,...,...,...,...,...,...
8333,10432,7.8,法国 / 荷兰 / 瑞士 / 比利时,"['动画', '家庭', '犯罪']",法语,2010-12-15,猫在巴黎 Une vie de chat,15388.0
8334,10433,7.8,法国,"['剧情', '喜剧', '爱情', '历史']",法语,1990-03-28,大鼻子情圣 Cyrano de Bergerac,9218.0
8335,10434,7.8,美国 / 英国,"['剧情', '传记', '历史', '战争']",英语 / 德语,2015-02-09,金衣女人 Woman in Gold,8955.0
8336,10435,7.8,英国,"['剧情', '爱情', '悬疑']",英语,2007-08-31,在屋顶上流浪 Hallam Foe,7853.0
8337,10437,7.8,中国香港 / 中国大陆,['剧情'],蒙古语,1997-04-02,黑骏马 黑駿馬,3078.0

In [5]:
pd.read_csv(R'600519.csv')

,day,STOCK_CODE,open,close,maximum,minimum,volume,TURNOVER
0,2001-08-27,6005191,34.51,35.55,37.78,32.85,406318,1410347008
1,2001-08-28,6005191,34.99,36.86,37.00,34.61,129647,463463008
2,2001-08-29,6005191,36.98,36.38,37.00,36.10,53252,194689000
3,2001-08-30,6005191,36.28,37.10,37.51,36.00,48013,177558000
4,2001-08-31,6005191,37.15,37.01,37.62,36.80,23231,86231000
...,...,...,...,...,...,...,...,...
4089,2018-10-29,6005191,549.09,549.09,549.09,549.09,49076,2694714080
4090,2018-10-30,6005191,510.00,524.00,543.00,509.02,204397,10663392512
4091,2018-10-31,6005191,527.00,548.90,555.00,522.00,96885,5239853056
4092,2018-11-01,6005191,555.00,563.00,585.50,551.25,98107,5581027328
4093,2018-11-02,6005191,585.00,599.90,600.00,572.24,89157,5227695104

In [6]:
df = pd.read_csv(R'600519.csv')

In [10]:
mytools.计算单变量均值的置信区间(R'600519.csv','open')

变量open均值： 182.16
均值在置信水平0.95下的置信区间为： (177.07986246146626, 187.24395776325284)

(182.16191011235955, (177.07986246146626, 187.24395776325284))